<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/semantic.min.css">
    <link rel="stylesheet" href="public/style.css">
    <title>Freelancer</title>
</head>

<body>
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui menu">
                <h1 class="ui header" id="siteheading">E-Lance</h1>
                <div class="right menu">
                    <a href="/faq" class="item">FAQ</a>
                    <a class="item" id="post-button">Post A Project</a>
                    <a class="item" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="twelve wide column">
            <h2 class="ui header">My Jobs</h2>
            <% jobs.forEach(function(job){ %>
            <div class="ui menu gid-of">
                <h1 class="ui header"><%=job.title %></h1>
                <div class="right menu">
                    <a href="/<%=job.freelancer %>" class="item">Freelancer:<%= job.freelancer %></a>
                    <a class="item">Status:<%= job.status %></a>
                </div>
            </div>
            <% }) %>
            


        </div>
        <div class="four wide column">
            <h2 class="ui header">Bid Requests</h2>
            <div class="card">
                <% bids.forEach(function(bid){ %>
                <div class="ui card">
                    <div class="content">
                        
                        <div class="header">
                            <%= bid.jobtitle %>
                        </div>
                        <a href="/<%= bid.bidder %>" class="meta">
                            <%= bid.bidder %>
                        </a>
                        <div class="description">
                            <%= bid.bidder %> wants to do the job for <%= bid.rate %>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <a  href="accept/<%= bid._id %>"  class="ui basic green button">Accept</a>
                            <a href="reject/<%= bid._id %>" class="ui basic red button">Decline</a>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>

    <!--modal for post Jobs -->
    <form class="ui small modal form" id="postjob" method="POST" action="/postjob">
        <i class="close icon"></i>
        <div class="header">
            Login
        </div>
        <div class="image content">
            <div class="description">
                <div class="field">
                        <label>Title</label>
                    <input name="title" type="text" placeholder="python job">
                </div>
                <div class="field">
                        <label>Description</label>
                    <input name="desc" type="text" placeholder="This is a python job">

                </div>
                <div class="field">
                        <label>Rate</label>
                    <input name="rate" type="text" placeholder="$500">

                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Cancel
            </div>
            <button type="submit" class="ui positive right button">
                Post
            </button>
        </div>
    </form>


</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="public/semantic.min.js"></script>
<script>
    $('#postjob').modal('hide');
    $('#post-button').click(function () {
        $('#postjob').modal('show');
    });
</script>

</html>